/* #region Common Rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 4.3rem;
    margin-bottom: 2rem;
}

h2 {
    font-size: 2rem;
    margin-bottom: 3rem;
}

h3 {
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

p {
    font-size: .9rem;
    margin-bottom: 1.5rem;
}

div {
    font-size: .9rem;
}

body {
    font-family: 'Open Sans', sans-serif;
}

img {
    max-width: 100%;
}

ul li {
    list-style-type: none;
}

hr {
    border: 0.5px solid lightgray;
    margin-bottom: 3rem;
}

:root {
    --d-app-header-bg: #75eaff;
    --d-app-main-bg: #d7da20;
    --d-jumbo-bg: #B4D0E7;
    --d-app-footer-bg: #39eb6c;
    --d-logo-ratio: 678 / 151;
    --d-shadow: #9d9d9d;
    --d-btn-dark: #22272b;
    --d-btn-primary: #8ea0e0;
    --d-btn-light: #f7f7f6;
    --d-btn-lighter: white;
    --d-app-header-height: 70px;
    --d-app-footer-height: 50px;
    --icon-size: .8em;
    --gutter: .5em;
    --d-light: #0061ff;
}

/* #endregion Common Rules */