/* #region Common Rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 3.5rem;
    margin-bottom: 2rem;
}

h2 {
    font-size: 2rem;
    margin-bottom: 3rem;
}

h3 {
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

p {
    font-size: .8rem;
    margin-bottom: 1.5rem;
}

div {
    font-size: .8rem;
}

body {
    font-family: 'Open Sans', sans-serif;
}

img {
    max-width: 100%;
}

ul li {
    list-style-type: none;
}

hr {
    border: 0.5px solid lightgray;
    margin-bottom: 3rem;
}

:root {
    --icon-size: .8em;
    --gutter: .5em;
    --d-light: #0061ff;
    --d-light-primar: #B4D0E7;
    --d-white: white;
    --d-black: black;
    --d-gray: gray;
    --d-lightgray: lightgray;
    --d-dark-secondary: #671435;

    --d-l-designit_b-bg: #A2D39B;
    --d-l-designit_b-b: #D1E9CD;
    --d-asu: #61082B;
    --d-uff: #0093CE;
    --d-topps: #FF1C1C;
    --d-l-designit: #F5F5F5;
    --d-wbr: #D5001F;
    --d-lonely-planet: #0D2481;
    --d-cco: #FFD830;
}

/* #endregion Common Rules */