/* #region Common Rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    font-weight: bold;
    font-size: 1.1rem;
}

li {
    list-style-type: none;
}

img {
    max-width: 100%;
}

:root {
    --d-app-header-bg: #75eaff;
    --d-app-main-bg: #d7da20;
    --d-jumbotron-bg: #B4D0E7;
    --d-app-footer-bg: #39eb6c;
    --d-logo-ratio: 678 / 151;
    --d-shadow: #9d9d9d;
    --d-btn-dark: #22272b;
    --d-btn-primary: #8ea0e0;
    --d-btn-light: #f7f7f6;
    --d-btn-lighter: white;
    --d-app-header-height: 50px;
    --d-app-footer-height: 50px;
}

/* #endregion Common Rules */