/* #region Debug */

/* #region app-header */
.debug * {
    border: 1px solid black;
}

.debug > #app-header {
    background-color: var(--d-app-header-bg);
}

.debug .menu-left,
.debug .menu-right {
    background-color: orangered;
    flex-basis: 50%
}

/* #endregion app-header */

/* #region app-main */
.debug > #app-main {
    height: 4800px;
    background-color: yellow;
}

/* #region jumbotron */

/* .debug .jumbotron {
    height: 600px;
} */

.debug .jumbotron .container-sm {
    background-color: green;
    /* height: 100%; */
}

/* #endregion jumbotron */
/* #region plans */

.debug .plans {
    background-color: wheat;
    /* height: 600px; */
}

.debug .plans .container {
    background-color: greenyellow;
    height: 100%;
}

.debug .plans header {
    height: 20%;
}

.debug .plans .container .row {
    height: 80%;
    justify-content: center;
}

.debug .plans .col-4,
.debug .plans .col-12 {
    background-color: aqua;
}

.debug .plans .col-4 {
    height: 70%;
}

.debug .plans .col-12 {
    height: 30%;
}

/* #endregion plans */
/* #region partner */

.debug .partner {
    background-color: var(--d-jumbotron-bg);
    /* height: 600px; */
}

.debug .partner .container {
    height: 100%;
    background-color: greenyellow;
}

.debug .partner .col-7,
.debug .partner .col-5 {
    height: 100%;
    background-color: aqua;
}

/* #endregion partner */
/* #region operation */
.debug .operation {
    background-color: wheat;
    /* height: 600px; */
}

.debug .operation .container {
    background-color: greenyellow;
    height: 100%;
}

/* .debug .operation header {
    height: 20%;
} */

.debug .operation .container .row {
    height: 80%;
    justify-content: center;
}

.debug .operation .col-4 {
    background-color: aqua;
    /* height: 50%; */
}

/* #endregion operation */
/* #region claim */

.debug .claim {
    height: 600px;
    background-color: var(--d-jumbotron-bg);
}

.debug .claim .container {
    background-color: greenyellow;
    height: 100%;
}

/* #endregion claim */
/* #region designit */

.debug .designit {
    height: 600px;
    background-color: wheat
}

.debug .designit .row {
    background-color: aqua;
    height: 100%;
}

/* #endregion designit */
/* #region call-to-action */

.debug .call-to-action {
    background-color: var(--d-jumbotron-bg);
    height: 600px;
}

.debug .call-to-action .container {
    height: 100%;
    background-color: greenyellow;
}

.debug .call-to-action .col-6 {
    height: 100%;
    background-color: aqua;
}

/* #endregion call-to-action */
/* #region faq */
.debug .faq {
    background-color: wheat;
    height: 600px;
}

.debug .faq .container {
    background-color: greenyellow;
    height: 100%;
}

/* #endregion faq */
/* #endregion app-main */

/* #region app-footer */
.debug > #app-footer {
    height: 600px;
    background-color: black;
}

/* #region footer-top */
.debug .footer-top {
    background-color: rgb(32, 32, 32);
    height: 300px;
}

.debug .footer-top .container {
    background-color: greenyellow;
    height: 100%;
}

.debug .footer-top .container .row {
    height: 100%;
    justify-content: center;
}

.debug .footer-top .col-p20 {
    background-color: aqua;
    height: 100%;
}

/* #endregion footer-top */
/* #region footer-bottom */
.debug .footer-bottom {
    background-color: rgb(66, 66, 66);
    height: 300px;
}

.debug .footer-bottom .container {
    background-color: greenyellow;
    height: 100%;
}

/* #endregion footer-bottom */

/* #endregion app-footer */

/* #region Debug */