/* #region app-header */
#app-header {
    height: var(--d-app-header-height);
}

#app-header .menu-left,
#app-header .menu-right {
    display: flex;
}

#app-header .menu-left {
    justify-content: flex-start;
}

#app-header .menu-right {
    justify-content: flex-end;
}

#app-header a {
    color: white;
    text-decoration: none;
}

#app-header a:hover {
    text-decoration: underline;
}

/* #endregion app-header */
/* #region app-main */

/* #region jumbotron */

.jumbotron {
    background-color: var(--d-jumbotron-bg);
}

.jumbotron {
    height: 400px;
}

.jumbotron .row {
    flex-wrap: nowrap;
}

/* #endregion jumbotron */
/* #region plans */
.plane-type {
    text-align: center;
}

.list-plan-highlights,
.list-plan-features {
    padding-left: var(--icon-size);
}

.list-plan-highlights > li,
.list-plan-features > li {
    padding-left: var(--gutter);
    list-style-type: none;
}

.list-plan-highlights > li::marker,
.list-plan-features > li::marker {
    /* FontAwesome Unicode */
    font-family: FontAwesome;
    font-size: var(--icon-size);
}

.list-plan-features > .n-user::marker {
    content: "\f007";
}

.list-plan-features > .space::marker {
    content: "\f07b";
}

.list-plan-features > .share::marker {
    content: "\f1e0";
}

.list-plan-highlights > li::marker {
    content: "\f00c";
    color: var(--d-light);
}

/* #endregion plans */
/* #region partner */

/* #endregion partner */
/* #region operation */

/* #endregion operation */
/* #region claim */

/* #endregion claim */
/* #region designit */
.designit .col-6 > svg {
    width: 100%;
    aspect-ratio: 1/1;
    padding: 3rem;
    filter: invert(100%);
}

.designit .l-designit_b {
    background-color: #A2D39B;
}

.designit .asu {
    background-color: #61082B;
}

.designit .uf {
    background-color: #0093CE;
}

.designit .topps {
    background-color: #FF1C1C;
}

.designit .col-4 > svg {
    width: 50%;
    aspect-ratio: 2/1;
}

.designit .l-designit {
    background-color: #F5F5F5;
}

.designit .wbr {
    background-color: #D5001F;
}

.designit .hearstcorp {
    background-color: #B4D0E7;
}

.designit .lonely-planet {
    background-color: #0D2481;
}

.designit .cco {
    background-color: #FFD830;
}

/* #endregion designit */
/* #region call-to-action */

/* #endregion call-to-action */
/* #region faqs */
.faqs .title {
    display: flex;
    justify-content: space-between;
}

.faqs .ask {
    font-weight: bold;
}

/* #endregion faqs */
/* #endregion app-main */
/* #region app-footer */
/* #region footer-top */
#app-footer a {
    color: white;
    text-decoration: none;
}

#app-footer a:hover {
    text-decoration: underline;
}

/* #endregion footer-top */
/* #region footer-bottom */

/* #endregion footer-bottom */
/* #endregion app-footer */