/* #region app-header */
#app-header {
    height: var(--d-app-header-height);
}

.menu-left,
.menu-right {
    height: 100%;
    display: flex;
}

.menu-left {
    justify-content: flex-start;
}

.menu-right {
    justify-content: flex-end;
}

/* #endregion app-header */
.jumbotron {
    background-color: var(--d-jumbotron-bg);
}

/* #region app-main */

/* #endregion app-main */

/* #region app-footer */

/* #endregion app-footer */