/* #region app-header */
#app-header {
    height: var(--d-app-header-height);
    background-color: white;
}

#app-header .menu-left,
#app-header .menu-right {
    display: flex;
    flex-basis: 50%;
}

#app-header .menu-left {
    justify-content: flex-start;
}

#app-header .menu-right {
    justify-content: flex-end;
}

#app-header .list-inline {
    gap: 2rem;
    height: 100%;
    align-items: center;
}

#app-header a {
    color: black;
    text-decoration: none;
}

#app-header a:hover {
    text-decoration: underline;
}

/* #endregion app-header */
/* #region app-main */
/* #region jumbo */

.jumbo {
    background-color: var(--d-jumbo-bg);
}

.jumbo {
    height: 632px;
}

.jumbo .row {
    flex-wrap: nowrap;
}

.jumbo .fa-arrow-down {
    margin-top: 2rem;
    font-size: 3rem;
}

/* #endregion jumbo */
/* #region plans */
.plans .row {
    /* Metto questo margin negativo per controbilanciare il padding delle col-x */
    margin: 0 -1rem;
    align-items: flex-start;
}

.plans .col-4,
.plans .col-12 {
    /* Per via di qusto padding metto il margin nella row */
    padding: 2.5rem 1rem 0;
}

.plans .plane-type {
    text-align: center;
    padding: 0.5rem;
    border-top: 2px solid lightgray;
    border-left: 2px solid lightgray;
    border-right: 2px solid lightgray;
}

.plans .card {
    border: 2px solid lightgray;
    /* Per via di qusto padding metto il margin nella row */
    padding: 0 1.5rem 1.5rem;
}

.plans .row .col-4 .card {
    /* Altezza messa per far finire le card tutte allo stesso tempo */
    height: 820px;
}

.plans h3 {
    margin-top: 1.5rem;
}

.plans .price {
    font-weight: bold;
    margin-bottom: 0.4rem;
}

.plans .frequency {
    color: grey;
    margin-bottom: 2rem;
}

.highlights {
    margin-bottom: 1.5rem;
    font-weight: bold;
}

.plans li {
    margin-bottom: 1rem;
    padding-left: var(--gutter);
    list-style-type: none;
}

.plans ul {
    padding-left: var(--icon-size);
}

.plans li::marker {
    /* FontAwesome Unicode */
    font-family: FontAwesome;
}

.list-plan-features > .n-user::marker {
    content: "\f007";
}

.list-plan-features > .space::marker {
    content: "\f07b";
}

.list-plan-features > .share::marker {
    content: "\f1e0";
}

.list-plan-highlights > li::marker {
    content: "\f00c";
    color: var(--d-light);
    font-weight: bolder;
}

.plans button {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

.spacer {
    width: 3rem;
    border-top: 1px solid lightgray;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.plans .col-12 .price {
    padding-bottom: 2rem;
}

.plans .reset {
    /* All'interno della card lrga mi serve annullare padding e margin della col-4  */
    margin: 0;
    padding: 0;
}

/* #endregion plans */
/* #region partners */
.partners .btn {
    border: 1px solid black;
}

/* #endregion partners */
/* #region operations */
.operations .row {
    /* Metto questo margin negativo per controbilanciare il padding delle col-x */
    margin: 0 -1rem;
}

.operations .col-4 {
    /* Per via di qusto padding metto il margin nella row */
    padding: 1rem 1rem 0;
}

.operations h2 {
    margin-bottom: 2rem;
    /* devo riscrivere il margin a causa del padding dato a col-4; */
}

/* #endregion operations */
/* #region team */

/* #endregion team */
/* #region designit */
.designit .col-6 > svg {
    width: 100%;
    aspect-ratio: 1/1;
    padding: 4rem;
    filter: invert(100%);
}

.designit .l-designit_b {
    background-color: #A2D39B;
    border: 10px solid #D1E9CD;
}

.designit .asu {
    background-color: #61082B;
}

.designit .uf {
    background-color: #0093CE;
}

.designit .topps {
    background-color: #FF1C1C;
}


.designit .l-designit {
    background-color: #F5F5F5;
}

.designit .wbr {
    background-color: #D5001F;
}

.designit .hearstcorp {
    background-color: #B4D0E7;
}

.designit .lonely-planet {
    background-color: #0D2481;
}

.designit .cco {
    background-color: #FFD830;
}

/* #endregion designit */
/* #region call-to-action */
.call-to-action {
    background-color: var(--d-jumbo-bg);
}

.call-to-action h2 {
    color: #671435;
    /* ho voluto sovrascrivere il margin di h2 per mettere py-8 nella call-to-action */
    margin-bottom: 0;
}

/* #endregion call-to-action */
/* #region faqs */
.faqs .faq {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.faqs .ask {
    font-weight: bold;
}

.answer {
    display: none;
}

.faqs input[type=checkbox] {
    /* Uso appearance per nascondere il normale checkbox */
    appearance: none;
    font-family: FontAwesome;
}

.faqs input[type=checkbox]:before {
    content: "\f106";
}

.faqs input[type=checkbox]:checked:before {
    content: "\f107";
}

/* checked icon */
.faqs input[type=checkbox]:checked + .answer {
    display: block;
}

/* #endregion faqs */
/* #endregion app-main */
/* #region app-footer */
/* #region footer-top */
#app-footer a {
    color: white;
    text-decoration: none;
}

#app-footer a:hover {
    text-decoration: underline;
}

/* allow space for check mark */

/* #endregion footer-top */
/* #region footer-bottom */

/* #endregion footer-bottom */
/* #endregion app-footer */